# -----------------------------
# Environment variables
# -----------------------------
.env
**/.env

# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual environments
# -----------------------------
venv/
.venv/

# -----------------------------
# FAISS index and embeddings
# -----------------------------
*.faiss
index.faiss
data/embeddings/

# -----------------------------
# OS junk files
# -----------------------------
.DS_Store

# Ignore extracted files (Markdown, JSON, Python) the csv version sufice (same versions)
data/extracted/*.md
data/extracted/*.json
data/extracted/*.py

# Ignore Python files inside data/raw
data/raw/*.py

carms-data-platform-demo/tests/