fastapi
uvicorn
pydantic
sqlmodel
sqlalchemy
psycopg2-binary
pandas
openpyxl
python-dotenv

faiss-cpu
openai

langchain
langchain-openai
langchain-community
langchain-text-splitters

dagster
dagster-webserver

streamlit
requests
plotly